body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

div {
    text-align: center;
    width: 600px;
    margin: 5em auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 1em;
}

input {
  text-align: center;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 1px;
  border-color: #565554;
  height:60;
  font-size:14pt;
}

button {
  border-radius: 15px;
}

:focus {
    outline: 0;
}