body {
        /* background-color: #CEE3F6; */
        background-image: url("tv.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 80vh;
        margin: 0;
        padding: 0;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
div {
    width: 600px;
    margin: 5em auto;
    padding: 50px;
    background: rgba(250, 250, 250, 0.9);
    border-radius: 1em;
}
.credit {
    font-size: 0.75em;
}
a:link {
    color: #2E64FE;
    text-decoration: none;
    }
a:visited {
    color: #A4A4A4;
    text-decoration: none;
    }