:root {
    --light: #ffffff;
    --standard: #ffffff;
    --dark: #002266;
}

body {
    background: var(--standard);
    display: flex;
    color: var(--dark);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.bio {
    padding: 20px 20px;
    padding-top: 5px !important;
    margin: auto;
    width: 20%;
    font-size: 20px;
    border-color: var(--dark);
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    background-color: var(--light);
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .bio {
        width: 30%;
    }
}

@media only screen and (max-width: 800px) {
    .bio {
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .bio {
        width: 50%;
    }
}

.proj {
    text-align: center;
}

.logo {
    padding-left: 5px;
    padding-right: 5px;
}

.logo:hover {
    width: 30px;
}

a {
    text-decoration: none;
}

.link {
    color: var(--dark);
    border-color: var(--dark);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 2px;
    background-color: var(--standard);
}

/* mouse over link */
.link:hover {
    color: var(--dark);
    padding: 1px;
}
